<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>

    <!-- Custom Style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" 
      type="image/png" 
      href="img/Gear1 (32X32) png.png" />


    
  </head>
