
<%- include ("navi") %>

            <div class="login-panel">
                <!--<form>-->

                  <div class="title">Welcome</div>
                  <div class="text"><%= name%><br><%= email%></div>
                <!--</form>-->

            </div>

<%- include ("footer") %>