<!-- The Menu -->
<ul class="topnav">
   <li><a href="/">
        <img src="img/Gear white.png"></a></li>
   <li class="right"><p>
         <img src="img/human.png"></p></li>
   <li class="right"><a href="/logout">Logout</a></li>
   <li class="right"><a href="/contracts">Contracts</a></li>



</ul>

